# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
get_project_context.bat
get_changes.bat
get_git_changes.ps1
get_project_context.ps1
Projektkontext_2025-10-11_14-34-01.txt
run_changes.bat
run_contexts.bat
sync_mirror.bat
